.topBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/Image/banner.jpg");
  background-attachment: fixed;
  background-position: center;
  min-height: 550px;
  background-repeat: no-repeat;
}
.title {
  font-size: 48px;
}
.underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15%;
  background-color: black;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.serviceIcon {
  width: 80px;
  height: 80px;
}
.shadow-md:hover {
  box-shadow: 1px 1px 5px 5px rgba(29, 4, 170, 0.1);
  transition: all 0.3s;
}
.service_card_title {
  font-family: "Raleway", sans-serif;
  font-weight: 800 !important;
  font-size: 26px !important;
}
.descr {
  color: #505050 !important;
}
.bg-body-primary,
.bg-body-tertiary {
  transition: all 0.5s;
}
.navbar-text {
  color: white !important;
}
.navbar-links {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  font-size: 14px !important;
  text-decoration: none;
}

.summaryBanner {
  background: linear-gradient(rgba(8, 3, 59, 0.7), rgba(8, 3, 59, 0.7)),
    url("./assets/Image/summary.jpg");
  background-attachment: fixed;
  background-position: center;
  min-height: 550px;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
}
.counter-subtitle {
  color: rgb(255, 221, 27);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.line {
  width: 100px;
  height: 2px;
  background: white;
}
.sub-title {
  font-family: "Raleway", sans-serif !important;
  font-size: 24px !important;
  font-weight: 700 !important;
}
.navbar {
  opacity: 0.7;
}
.videoCard {
  background-color: rgb(0, 20, 75);
  padding: 2rem 3rem;
}
@media (max-width: 995px) {
  .videoCard {
    height: 400px !important;
  }
  .welcome_sm_img {
    max-width: 40%;
  }
}
.videoIcon {
  font-size: 72px;
  color: white;
  cursor: pointer;
}
.circle-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.name {
  font-family: "Raleway", sans-serif !important;
  font-weight: 700;
}
img {
  width: 100%;
}
.aboutme-img {
  background-color: rgb(0, 7, 61);
  border-radius: 50%;
  max-width: 550px;
  max-height: 550px;
}
.aboutme-heading {
  font-family: "Raleway", sans-serif !important;
}
.aboutme-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.aboutMeDetails {
  font-family: "Raleway", sans-serif;
}
.footer_links:hover {
  color: rgb(255, 230, 0) !important;
}
.footer_links,
.project_links {
  transition: all 0.3s;
  color: white !important;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}
.social {
  font-size: 24px;
}
.copyrights {
  background: #000763;
}
.copyrightlink {
  color: white !important;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
.footer_title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.footer_container {
  background-color: rgb(0, 20, 75);
}
.aboutBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/Image/page.png");

  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
}
.pagetitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.project_card {
  transform: scale(1);
  transition: transform 0.3s;
}
.project_card:hover {
  transform: scale(1.05);
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.active {
  color: yellow !important;
}
.welcome_title::after {
  content: "";
  width: 5%;
  height: 2px;
  position: absolute;
  background: #000;
  right: 35%;
  top: 50%;
}
.welcome_title {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.welcome_title::before {
  content: "";
  width: 5%;
  height: 2px;
  position: absolute;
  background: #000;
  left: 35%;
  top: 50%;
}
.welcome_heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.c_heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 20px;
  margin-top: 20px;
  z-index: 400;
}
.c_subheading {
  font-family: "Montserrat", sans-serif;
  color: #505050;
  font-size: 14px;
}
.margin_top {
  margin-top: 3rem !important;
}
.welcome_container {
  margin-top: -70px;
  z-index: 200;
  background-color: white;
}
.welcome_footer_container {
  background-color: goldenrod;
}
.welcome_footer_img {
  padding: 2rem;
}
.project_img {
  position: relative;
  z-index: 100;
}
.project_img::before {
  content: "";
  position: absolute;
  right: -8%;
  top: 5%;
  width: 100%;
  height: 90%;
  background: goldenrod;
  z-index: -10;
  border-radius: 20px;
}
ul li span {
  font-weight: 700;
  margin: 0 5px;
}
ul {
  list-style: none;
}
.course_details_footer {
  background-color: #71deff;
  text-align: center;
  padding: 2rem 0;
}
.course_details_footer p {
  font-family: "Raleway";
  font-weight: 700;
  text-transform: capitalize;
  font-size: 18px;
  
}
