.topBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/Image/banner.jpg");
  background-attachment: fixed;
  background-position: center;
  min-height: 550px;
  background-repeat: no-repeat;
}
.title {
  font-size: 48px;
}
.underline::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 15%;
  background-color: black;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
.serviceIcon {
  width: 80px;
  height: 80px;
}
.shadow-md:hover {
  box-shadow: 1px 1px 5px 5px rgba(29, 4, 170, 0.1);
  transition: all 0.3s;
}
.service_card_title {
  font-family: "Raleway", sans-serif;
  font-weight: 800 !important;
  font-size: 26px !important;
}
.descr {
  color: #505050 !important;
}
.bg-body-primary,
.bg-body-tertiary {
  transition: all 0.5s;
}
.navbar-text {
  color: white !important;
}
.navbar-links {
  font-family: "Montserrat", sans-serif;
  font-weight: 700 !important;
  font-size: 14px !important;
}

.summaryBanner {
  background: linear-gradient(rgba(8, 3, 59, 0.7), rgba(8, 3, 59, 0.7)),
    url("./assets/Image/summary.jpg");
  background-attachment: fixed;
  background-position: center;
  min-height: 550px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.counter {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
}
.counter-subtitle {
  color: rgb(255, 221, 27);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.line {
  width: 100px;
  height: 2px;
  background: white;
}
