.topBanner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../public/Image/banner.jpg");
  background-attachment: fixed;
  background-position: center;
  min-height: 550px;
  background-repeat: no-repeat;
}
/* .topBannerOverlay {
  min-height: 550px;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
} */
